body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #161616;
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Added box-shadow for emphasis */
    background-color: #1d1d1d; /* Adjusted background color */
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #14a7df;
}

.generate-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #14a7df;
    border: 3px solid #0c5c78;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-button:hover {
    background-color: #0c5c78;
}

.divider {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 20px;
}

.result-container {
    margin-top: 20px;
}

.log {
    background-color: #1d1d1d; /* Adjusted background color */
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
}

.log p {
    margin: 0;
}

#inputContainer {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Added box-shadow for emphasis */
    background-color: #222222; /* Adjusted background color */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #14a7df;
    border-radius: 5px;
}

#inputContainer button {
    margin-bottom: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #14a7df;
    border: 3px solid #0c5c78;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inputContainer button:hover {
    background-color: #0c5c78;
}
